*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans MT', sans-serif;
    letter-spacing: 1px;
    background-color: #44b7d0;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%2361dbe1' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}


/*? INDEX */

/* HEADER */
.header {
    margin-top: 1rem;
    border-bottom: .2rem solid white;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2300323a' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.header-title {
    padding: .3em;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 1rem;
    font-style: italic;
    font-size: 3rem;
    font-family: Impact;
}

.header-subtitle {
    padding: .5em;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 3px;
}

/* NAVIGATION MENU */
.nav-menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #000949;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23004e5a' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.nav-menu-item {
    padding: .6em;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    font-family: Impact;
}

.nav-menu-item:hover {
    color: rgb(255, 58, 173);
    transition: color .3s ease-in-out;
}

.nav-item-selected {
    color: rgb(255, 58, 173);
}

/* INFORMATION SECTION */
.info-section {   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    padding: 1em;
    margin: 1rem auto;
    border-radius: 1rem ;
    box-shadow: 2px 2px 20px;
    background-color: rgba(255, 255, 255, 0.425);
}

.info-section-title {
    margin-bottom: 1em;
    flex-basis: 80%;
    text-align: justify;
    font-family: Gill Sans MT;
}

.info-section-text {
    padding: 1em;
    border-top: 2px solid white;
    font-family: Gill Sans MT;
    line-height: 1.3em;
}

.info-section-text a {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(255, 58, 173);
}

.info-section-text a:hover {
    border-bottom: 2px solid rgb(255, 58, 173);
}

/* FOOTER */
.flex-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.flex-footer a {
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(255, 58, 173);
}

.flex-footer a:hover {
    border-bottom: 2px solid rgb(255, 58, 173);
}


/*? LEVELS */

/* GAME */
.level-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1040px;
    padding: 1.25rem;
    margin: 1.25rem auto;
    box-shadow: 2px 2px 20px;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.425);
}

.image1 {
    width: 1000px;
    height: 660px;
    border: 3px solid rgb(255, 58, 173);
    cursor: pointer;
}

.image2 {
    width: 1000px;
    height: 694px;
    border: 3px solid rgb(255, 58, 173);
    cursor: pointer;
}

.level-story {
    padding: 1em;
}

.open-list-button {
    padding: .5em;
}
.open-list-button i {
    margin-right: .5em;
    color:rgb(255, 58, 173);
    cursor: pointer;
}

.open-list-button i:hover {
    color: #fff;
}

/* CHARACTERS LIST */
.char-list-container {
    position: absolute;
    top: 17.5rem;
    left: -25rem;
    padding: 1em;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgba(255, 58, 173, 0.89);
    transition: left .3s linear;
}

.char-list-container i {
    display: block;
    text-align: end;
    font-size: 2rem;
    cursor: pointer;
}

.char-list-container i:hover {
    color: #fff;
}

.char-list {
    padding: 1.2em;
    font-size: 1.2rem;
}

.showList {
    left: 0;
    transition: left .3s linear;
}

.itemFound {
    text-decoration: 2px line-through;
}

/* SIGNS */
.itemFoundSignStyles {
    position: absolute;
    top: 50%;
    left: 30%; 
    padding: .6em;
    border-radius: 1em;
    font-size: 1.8rem;
    background-color: rgba(173, 30, 255, 0.795);
}

.win-sign {
    position:absolute;
    top: -1000px;
    width: 1000px;
    height: 350px;
    font-size: 9rem;
    line-height: 21rem;
    text-align: center;
    color: #fff;
    background-color:rgba(255, 58, 173, 0.712);
}

.win-sign i {
    color: white;
    font-size: 3.75rem;
}

.win-sign i:hover {
    color: rgb(0, 0, 0)
}

.win {
    top: 40%;
    transition: top .5s ease-out;    
}